<div class="templateRegion" id="oeWidgetAssignment6ShivamTemplateRegion" data-oc-id="oeWidgetAssignment6ShivamTemplateRegion">
  <!-- oc layout: panels -->
  <div class="row">
    <div class="oc-panel col-md-12" data-oc-id="panel-1">
      <!-- oc section: oeMotoCategoryCart -->
      <span data-bind="element: 'oeMotoCategoryCart'"></span>
      <!-- /oc -->
    </div>
  </div>
  <!-- /oc -->
</div>
