<div class="templateRegion" id="oeCategoryElementAatishTemplateRegion" data-oc-id="oeCategoryElementAatishTemplateRegion">
  <h2 class="headerText">Shop By Category</h2>
  <!-- oc layout: panels -->
  <div class="row">
    <div class="cardContainer oc-panel col-md-12" data-oc-id="panel-1">
      <!-- oc section: categoryCard -->
      <span data-bind="element: 'categoryCard'"></span>
      <!-- /oc -->
    </div>
  </div>
  <!-- /oc -->
</div>
