{
  "theme": {
    "name": "Theme Name",
    "id": "xxxxxx"
  },
  "environments": {
    "current": "dev",
    "types": {
      "prod": {
        "base_url": "https://ccadmin-xxx.oracleoutsourcing.com",
        "username": "xxxxx.xxxxx@objectedge.com",
        "password": "xxxxxx"
      },
      "dev": {
        "base_url": "https://ccadmin-xxx.oracleoutsourcing.com",
        "username": "xxxxx.xxxxx@objectedge.com",
        "password": "xxxxxx"
      },
      "qa": {
        "base_url": "https://ccadmin-xxx.oracleoutsourcing.com",
        "username": "xxxxx.xxxxx@objectedge.com",
        "password": "xxxxxx"
      }
    }
  }
}
