{
    "OCC_USERNAME": "user.name@objectedge.com",
    "OCC_PASSWORD": "mysecretpassword",
    "OCC_BASEURL": "https://ccadmin-xxxx.oracleoutsourcing.com",
    "THEME_ID": "123456",
    "THEME_NAME": "My Theme's Name"
}
