/***** Global *****/
@ButtonBorderRadius: 0px;
@ButtonBorderSize: 2px;
@ButtonFontWeight: @FontWeightNormal;
@ButtonBaseFontSize: @FontSizeNormal;
@ButtonDisabledBackgroundColor: @ColorWhite;
@ButtonVerticalPadding: 10px;
@ButtonHorizontalPadding: 30px;
@ButtonTextTransform: uppercase;
@ButtonIconFontSize: @FontSizeDoubleExraLarge;
@ButtonIconTextFontSize: @FontSizeExtraSmall;

//Primary
@ButtonPrimaryHorizontalPadding: @ButtonHorizontalPadding;
@ButtonPrimaryVerticalPadding: @ButtonVerticalPadding;
@ButtonPrimaryBackgroundColor : @ColorBurntOrange;
@ButtonPrimaryBorderRadius : 0px;
@ButtonPrimaryBorder : @ButtonBorderSize solid @ColorBurntOrange;
@ButtonPrimaryFontFamily : @DefaultSiteFontFamily;
@ButtonPrimaryFontStyle : normal;
@ButtonPrimaryFontWeight : @ButtonFontWeight;
@ButtonPrimaryFontSize: @FontSizeExtraLarge;
@ButtonPrimarySize : medium;
@ButtonPrimaryTextColor : @ColorWhite;
@ButtonPrimaryTextDecoration : none;
@ButtonPrimaryUseGradient : false;
@ButtonPrimaryBackgroundColorHover : @ColorBrightOrange;
@ButtonPrimaryTextColorHover : @ColorWhite;
@ButtonPrimaryBackgroundColorFocus : @ColorBrightOrange;
@ButtonPrimaryBorderColorHover: @ColorBrightOrange;

//Secondary
@ButtonSecondaryHorizontalPadding: 27px;
@ButtonSecondaryVerticalPadding: 2px;
@ButtonSecondaryBackgroundColor : @ColorBurntOrange;
@ButtonSecondaryBorderRadius : 0px;
@ButtonSecondaryBorder : @ButtonBorderSize solid @ColorBurntOrange;
@ButtonSecondaryFontFamily : @DefaultSiteFontFamily;
@ButtonSecondaryFontStyle : normal;
@ButtonSecondaryFontWeight : @ButtonFontWeight;
@ButtonSecondaryFontSize: @FontSizeLarge;
@ButtonSecondarySize : medium;
@ButtonSecondaryTextColor : @ColorWhite;
@ButtonSecondaryTextDecoration : none;
@ButtonSecondaryUseGradient : false;
@ButtonSecondaryBackgroundColorHover : @ColorBrightOrange;
@ButtonSecondaryTextColorHover : @ColorWhite;
@ButtonSecondaryBackgroundColorFocus : @ColorBrightOrange;
@ButtonSecondaryBorderColorHover: @ColorBrightOrange;
