
/*doc
---
title: Palette
name: 1-palette
category: Colors
---

Palette of colors, by [Name That Color](http://chir.ag/projects/name-that-color/).

Color                                                            | Variable                  | Hex
---------------------------------------------------------------- | ------------------------- | -----------
<div style="background:#532479;">&nbsp;</div>                    | `@ColorLightPurple`       | `#532479`
<div style="background:#361754;">&nbsp;</div>                    | `@ColorDarkPurple`        | `#361754`
<div style="background:#FF9416;">&nbsp;</div>                    | `@ColorBrightOrange`      | `#FF9416`
<div style="background:#E45600;">&nbsp;</div>                    | `@ColorBurntOrange`       | `#E45600`
<div style="background:#892954;">&nbsp;</div>                    | `@ColorLightBurgundy`     | `#892954`
<div style="background:#79244a;">&nbsp;</div>                    | `@ColorDarkBurgundy`      | `#79244a`
<div style="background:#000000;">&nbsp;</div>                    | `@ColorBlack`             | `#000000`
<div style="background:#333333;">&nbsp;</div>                    | `@ColorDarkSlate`         | `#333333`
<div style="background:#808184;">&nbsp;</div>                    | `@ColorLightSlate`        | `#808184`
<div style="background:#D2CFC9;">&nbsp;</div>                    | `@ColorWarmGrey`          | `#D2CFC9`
<div style="background:#E2E2E2;">&nbsp;</div>                    | `@ColorCoolGrey`          | `#E2E2E2`
<div style="background:#F2F2F2;">&nbsp;</div>                    | `@ColorOffWhite`          | `#F2F2F2`
<div style="background:#FFFFFF;">&nbsp;</div>                    | `@ColorWhite`             | `#FFFFFF`
<div style="background:rgba(255, 255, 255, 0.4);">&nbsp;</div>   | `@ColorWhiteTransparent`  | `rgba(255, 255, 255, 0.4)`

*/
@ColorBlack: #000000;
@ColorWhite: #FFFFFF;
@ColorWhiteTransparent: rgba(255, 255, 255, 0.4);
@ColorLightPurple: #532479;
@ColorDarkPurple: #361754;
@ColorBrightOrange: #FF9416;
@ColorBurntOrange: #E45600;
@ColorLightBurgundy: #892954;
@ColorDarkBurgundy: #79244a;
@ColorDarkSlate: #333333;
@ColorLightSlate: #808184;
@ColorWarmGrey: #D2CFC9;
@ColorCoolGrey: #E2E2E2;
@ColorOffWhite: #F2F2F2;
