@FieldBorderWidth: 1px;
@FieldBorderColor: @ColorMercury;
@FormFieldTextColor: @ColorMineShaft;
@FormFieldPlaceholderColor: @ColorMineShaft;
@InvalidFieldFontSize: @FontSizeSmall;
@InvalidFieldTextColor: @ColorMineShaft;
@InvalidFieldBorderColor: @ColorMineShaft;
@InvalidFieldBackgroundColor: @ColorWhite;
@FormFieldSize: 42px;
@FormFieldVerticalPadding: 5px;
@FormFieldHorizontalPadding: 5px;
@FormFieldFocusBorderColor: @ColorMineShaft;
@FormHint: @ColorMercury;
@FormLegendTextColor: @ColorMercury;
@FormLegendFontSize: @FontSizeSmall;
@FormLegendFontWeight: @FontWeightBold;
@FormLabelFontSize: @FontSizeSmall;
@FormFieldFontSize: @FontSizeNormal;
@FormSelectIconFontSize: @FontSizeExtraSmall;
@FormSelectTextColor: @ColorMineShaft;

/** Form Box **/
@FormBoxFieldsetBackgroundColor: @ColorWhite;
@FormBoxFormControlBorderColor: @ColorWhite;
@FormBoxFieldsetSpacingTop: @Spacing * 5;

/** Checkbox **/
@CheckBoxFontFamily: @DefaultSiteFontFamily;
@CheckBoxIconFontSize: @FontSizeMedium;
@CheckBoxSize: 25px;
@CheckBoxSizeBackGround: (@CheckBoxSize - 12px);
@CheckBoxPaddingLeft: (@CheckBoxSize + 7px);
@CheckBoxBorderRadius: 0; 
@CheckBoxBorderWidth: 2px;
@CheckBoxLeft: (@CheckBoxBorderWidth + 3);
@CheckBoxBackGroundSize: (@CheckBoxSize - 10px);
@CheckBoxBorderColor: @ColorMercury;
@CheckBoxBackGroundColor: @ColorWhite;
@CheckBoxBackGroundColorChecked: @ColorMineShaft;
@CheckBoxBorderColorChecked: @ColorMercury;
@CheckboxInvalidFieldBackgroundColor: @ColorMineShaft;
@CheckboxInvalidFieldBorderColor: @ColorMineShaft;
@CheckBoxInlineLabelFontWeight: @FontWeightLight;
@CheckBoxInlineFontSize: @SiteFontSize;
@CheckBoxInlineFontWeight: @FontWeightLight;

/** Radio **/
@RadioFontFamily: @DefaultSiteFontFamily;
@RadioIconFontSize: @FontSizeMedium;
@RadioSize: 25px;
@RadioSizeBackGround: (@RadioSize - 12px);
@RadioPaddingLeft: (@RadioSize + 7px);
@RadioBorderRadius: 50%;
@RadioBorderWidth: 2px;
@RadioLeft: (@RadioBorderWidth + 4);
@RadioBackGroundSize: (@RadioSize - 10px);
@RadioBorderColor: @ColorMercury;
@RadioBackGroundColor: @ColorWhite;
@RadioBackGroundColorChecked: @ColorMineShaft;
@RadioBorderColorChecked: @ColorMercury;
@RadioInvalidFieldBackgroundColor: @ColorMineShaft;
@RadioInvalidFieldBorderColor: @ColorMineShaft;
@RadioInlineLabelFontWeight: @FontWeightLight;
@RadioInlineFontSize: @SiteFontSize;
@RadioInlineFontWeight: @FontWeightLight;

