@ModalPadding: 40px;
@ModalCloseButtonFontSize: @FontSizeExtraLarge;
@ModalTitleFontSize: @FontSizeHuge;
@ModalTitleTextColor: @ColorDarkSlate;
@ModalContentTitleTextColor: @ColorDarkSlate;
@ModalContentTitleFontSize: @FontSizeExtraLarge;
@ModalContentSubTitleFontSize: @FontSizeLarge;
@ModalContentSubTitleTextColor: @ColorCoolGrey;
@ModalBodyTextColor: @ColorDarkSlate;
@ModalCenteredContentTitleTextColor: @ColorDarkSlate;
@ModalCenteredContentSubTitleFontSize: @FontSizeNormal;
@ModalMobileDialogBackgroundColor: @ColorWhite;