@TabFontSize: @FontSizeExtraLarge;
@TabFontWeight: @FontWeightLight;
@TabDefaultTextColor: @ColorWhite;
@TabDefaultBackgroundColor: @ColorWarmGrey;
@TabActiveBorderColor: @ColorBurntOrange;
@TabActiveTextColor: @ColorWhite;
@TabContentTitleTextColor: @ColorDarkSlate;
@TabContentTitleFontSize: @FontSizeNormal;
@TabContentTitleFontWeight: @FontWeightBold;