/***** Typography *****/

/** Font Family */
@TitlesFontFamily: 'Roboto Slab';
@DefaultSiteFontFamily: 'Lato';


/** Font Weight */
@FontWeightLight: 300;
@FontWeightNormal: 400;
@FontWeightBold: 700;
@FontWeightBlack: 900;

/** Line Height */
@LineHeightBase: 150%;

/** Font Size **/
@FontSizeBase: 90%; /** it will be the html font-size **/
@FontSizeExtraSmall: 0.675rem; /** 10.8px **/
@FontSizeSmall: 0.775rem; /** 12.4px **/
@FontSizeNormal: 0.875rem; /** 14px **/
@FontSizeMedium: 1.125rem; /** 18px **/
@FontSizeLarge: 1.25rem; /** 20px **/
@FontSizeExtraLarge: 2.5rem; /** 40px **/
@FontSizeDoubleExraLarge: 3rem; /** 48px **/
@FontSizeBig: 3.75rem; /** 60px **/
@FontSizeHuge: 6rem; /** 96px **/

/**
 * Specific
 */
@H1FontFamily : @TitlesFontFamily;
@H1FontSize : @FontSizeBig;
@H1FontStyle : inherit;
@H1FontWeight : @FontWeightBold;
@H1LineHeight : 120%;
@H1TextAlign : inherit;
@H1TextColor : @ColorMineShaft;
@H1TextDecoration : inherit;
@H1LetterSpacing : -2px;

@H2FontFamily : @TitlesFontFamily;
@H2FontSize : @FontSizeExtraLarge;
@H2FontStyle : inherit;
@H2FontWeight : @FontWeightLight;
@H2LineHeight : 100%;
@H2TextAlign : inherit;
@H2TextColor : @ColorMineShaft;
@H2TextDecoration : inherit;
@H2LetterSpacing : -1px;

@H3FontFamily : @TitlesFontFamily;
@H3FontSize : @FontSizeLarge;
@H3FontStyle : inherit;
@H3FontWeight : @FontWeightBold;
@H3LineHeight : 100%;
@H3TextAlign : inherit;
@H3TextColor : @ColorMineShaft;
@H3TextDecoration : inherit;
@H3LetterSpacing : -1px;

@H4FontFamily : @TitlesFontFamily;
@H4FontSize : @FontSizeMedium;
@H4FontStyle : inherit;
@H4FontWeight : @FontWeightNormal;
@H4LineHeight : @LineHeightBase;
@H4TextAlign : inherit;
@H4TextColor : @ColorMineShaft;
@H4TextDecoration : inherit;
@H4LetterSpacing : inherit;

@H5FontFamily : @TitlesFontFamily;
@H5FontSize : @FontSizeNormal;
@H5FontStyle : inherit;
@H5FontWeight : @FontWeightBold;
@H5LineHeight : @LineHeightBase;
@H5TextAlign : inherit;
@H5TextColor : @ColorMineShaft;
@H5TextDecoration : inherit;
@H5LetterSpacing : inherit;

@H6FontFamily : @TitlesFontFamily;
@H6FontSize : @FontSizeNormal;
@H6FontStyle : inherit;
@H6FontWeight : @FontWeightLight;
@H6LineHeight : @LineHeightBase;
@H6TextAlign : inherit;
@H6TextColor : @ColorMineShaft;
@H6TextDecoration : inherit;
@H6LetterSpacing : inherit;

@ParagraphFontFamily : inherit;
@ParagraphFontSize : @FontSizeNormal;
@ParagraphFontStyle : inherit;
@ParagraphFontWeight : @FontWeightNormal;
@ParagraphLineHeight : 172%;
@ParagraphTextAlign : inherit;
@ParagraphTextColor : @ColorMineShaft;
@ParagraphTextDecoration : inherit;

@SiteFontFamily : @DefaultSiteFontFamily;
@SiteFontSize : @FontSizeNormal;
@SiteFontStyle : normal;
@SiteFontWeight : @FontWeightNormal;
@SiteLineHeight : @LineHeightBase;
@SiteTextAlign : left;
@SiteTextColor : @ColorMineShaft;
@SiteTextDecoration : none;
