<!-- oeWidgetAssignment6Shivam -->
<div id="oeWidgetAssignment6Shivam">
    <div class="row-no-margin outer">
        <div class="row mainContainer">
            <div class="col-lg-12 col-sm-12 col-xs-12 mainText">
                <span>Shop By Category</span>
            </div>
        </div>
    </div>
</div>
